@use './button/button.scss';
@use './input/input.scss';

/* Custom semantics */
grid {
    display: grid;
}

.grid {
    display: grid;
}

flex {
    display: flex;
}

.flex {
    display: flex;
}

block {
    display: block;
}

.block {
    display: block;
}

container {
    display: block;
    width: min(1250px, 100%);
}

.container {
    display: block;
    width: min(1250px, 100%);
}

container-text {
    display: block;
    width: min(90ch, 100%);
}

.container-text {
    display: block;
    width: min(90ch, 100%);
}