// https://developer.mozilla.org/en-US/docs/Web/CSS/display

@import '../functions.scss';
@import '../values.scss';

// TODO: Find out if there are more values here?
$values: (
  block,
  inline,
  inline-block,
  flex,
  inline-flex,
  grid,
  inline-grid,
  flow-root,
  none,
  contents,
  block flex,
  block flow,
  block flow-root,
  block grid,
  inline flex,
  inline flow,
  inline flow-root,
  inline grid,
  table,
  table-row,
  list-item,
);

@each $value in $values {
  $stringValue: inspect($value); // Convert the value to a string
  $class-name: str-replace($stringValue, ' ', '-');
  .display-#{$class-name} {
    display: #{$value};
  }

  .#{$class-name} {
    display: $value;
  }

}

@each $value in $global-values {
  $stringValue: inspect($value); // Convert the value to a string
  $class-name: str-replace($stringValue, ' ', '-');
  .display-#{$class-name} {
    display: #{$value};
  }
}
