// https://developer.mozilla.org/en-US/docs/Web/CSS/display

@import '../functions.scss';

$displayValues: (
  block,
  inline,
  inline-block,
  flex,
  inline-flex,
  grid,
  inline-grid,
  flow-root,
  none,
  contents,
  block flex,
  block flow,
  block flow-root,
  block grid,
  inline flex,
  inline flow,
  inline flow-root,
  inline grid,
  table,
  table-row,
  list-item,
  inherit,
  initial,
  revert,
  revert-layer,
  unset
);

@each $value in $displayValues {
  $stringValue: inspect($value); // Convert the value to a string
  $class-name: str-replace($stringValue, ' ', '-');
  .display-#{$class-name} {
    display: #{$value};
  }
}
