$values: (
  normal,
  bold,
  100,
  200,
  300,
  400,
  500,
  600,
  700,
  800,
  900,
  lighter,
  bolder,
  inherit,
  initial,
  revert,
  revert-layer,
  unset
);

@each $value in $values {
  .font-weight-#{$value} {
    font-weight: #{$value};
  }
}
