// https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight

// ACCEPTED VALUES
// Normal
// Bold
// <number>
// lighter
// bolder

@import '../values.scss';

$values: (
  normal,
  bold,
  100,
  200,
  300,
  400,
  500,
  600,
  700,
  800,
  900,
  lighter,
  bolder,
);

@each $value in $values {
  .font-weight-#{$value} {
    font-weight: #{$value};
  }
}

@each $value in $global-values {
  .font-weight-#{$value} {
    font-weight: #{$value};
  }
}
