// https://developer.mozilla.org/en-US/docs/Web/CSS/align-items

// ACCEPTED VALUES 
// center
// start
// end
// flex-start
// flex-end
// left
// right
// normal
// space-between
// space-around
// space-evenly
// stretch
// safe center
// unsafe center

@import '../functions.scss';
@import '../values.scss';

$values: (
    center,
    start,
    end,
    flex-start,
    flex-end,
    left,
    right,
    normal,
    space-between,
    space-around,
    space-evenly,
    stretch,
    safe center,
    unsafe center,
);

@each $value in $values {
    $stringValue: inspect($value); // Convert the value to a string
    $class-name: str-replace($stringValue, ' ', '-');
    .justify-content-#{$class-name} {
        justify-content: #{$value};
    }
}

@each $value in $global-values {
    $stringValue: inspect($value); // Convert the value to a string
    $class-name: str-replace($stringValue, ' ', '-');
    .justify-content-#{$class-name} {
        justify-content: #{$value};
    }
  }